<%# encoding: UTF-8 %>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>トイレの紙様 Webサイト「うんちくん」(仮)</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 70px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/ic_launcher.png">
  </head>

  <body> 

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">トイレの紙様 Webサイト「うんちくん」(仮)</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <form class="navbar-search pull-left">
              <input type="text" class="search-query" placeholder="search">
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">

        <% unless @info.nil? %>
          <div class="alert alert-info fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <p>
              <%= h @info %>
            </p>
          </div>
        <% end %>

        <% unless @error.nil? %>
          <div class="alert alert-error fade in">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <p>
              <%= h @error %>
            </p>
          </div>
        <% end %>

        <div class="span4">
          <form class="form-horizontal" action="/" method="POST">
            <div class="control-group">
              <label>それは、まさに、うんちく、だね？</label>
              <textarea class="input-xlarge" name="untiku" id="untikutextarea" rows="3"></textarea>
            </div>
            <div class="control-group" style="text-align:right">
              100
              <button type="submit" class="btn"><i class="icon-heart"></i>うんちく！</button>
            </div>
          </form>
          <div>
            <div class="hero-unit">
              <h2>About. Team Toilet</h2>
              <img src="img/ic_launcher.png">
              <p class="about">
              日本Androidの会 沖縄支部 workshop@Naha Vol.16
              Designers-Hackで結成されたチームトイレット。
              デザイナーさん3人、プログラマさん2人
              Androidマーケットへのリリースをめざして活動中
              <ul>
                <li><a href="http://goodrugdesign.jimdo.com/">good rug design</a></li>
                <li><a href="#">Senaga Erina</a></li>
                <li><a href="#">Tamaki Yuka</a></li>
                <li><a href="https://twitter.com/#!/touhara_1010">@touhara_1010</a></li>
                <li><a href="https://twitter.com/#!/nefo_mi">@nefo_mi</a></li>
              </ul>
              </p>
            </div>
          </div>
        </div>
      <div class="span7">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><h3>うんちく</h3></th>
            </tr>
            <thead>
              <tbody>
                <% @untikus.each do |untiku| %>
                  <tr>
                    <td>
                      <%= h untiku.untiku.force_encoding('UTF-8') %>
                      <a class="close" href="delete/<%= untiku.id %>">&times;</a>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </section>

        <hr>
        <footer>
          <div id="footer"><p>&copy; Team Toilet 2012</p></div>
        </footer>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"><script>
  </body>
</html>

